/*
Color Pallet:
Purple: (129, 141, 187);
Beige: (226, 215, 198);
Black: (46, 49, 52);
Orange-Red: (199, 94, 62);
Olive: (134, 158, 97);
Gray: (224, 224, 224);
Text Gray: (185, 185, 185);
*/



* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: rgb(46, 49, 52);
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 28px;
    margin-top: 15%;
    margin-bottom: 3%;
}

h2 {
    color: rgb(134, 158, 97);
    font-weight: 300;
    font-size: 20px;
    margin-top: 3%;
}

h3 {
    font-family: 'Playfair Display', serif;
}

section {
    padding: 6% 0;
    min-height: 250px;
}

p {
    margin: 0 10%;
    color: rgb(185, 185, 185);
}

.line {
    height: 2px;
    width: 80%;
    margin: auto;
    background-color: rgb(224, 224, 224);
}

.clickable {
    color: rgb(199, 94, 62);
    font-weight: 300;
}

.portrait {
    margin-top: 7%;
    width: 25%;
    border-radius: 50%;
}

.portrait-space p {
    margin-top: 35px;
    margin-bottom: 0px;
}

.project-space {
    min-height: 320px;
}

.project-space .clickable {
    margin-top: 8%;
}

.project-images {
    border: 2px solid rgb(224, 224, 224);
    width: 75%;
    margin-top: 2%;
}

.about-me-space h3 {
    margin-top: 1%;
    margin-bottom: 7%;
}

.about-me-space p {
    text-align: left;
    margin-bottom: 5%;
}

footer {
    background-color: rgb(129, 141, 187);
    min-height: 80px;
    padding: 1% 0;
}